@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;

  --clr-reaction: hsl(0, 100%, 67%);
  --clr-memory: hsl(39, 100%, 56%);
  --clr-verbal: hsl(166, 100%, 37%);
  --clr-visual: hsl(234, 85%, 45%);

  --clr-reaction-bg: hsla(0, 100%, 67%, 0.05);
  --clr-memory-bg: hsla(39, 100%, 56%, 0.05);
  --clr-verbal-bg: hsla(166, 100%, 37%, 0.05);
  --clr-visual-bg: hsla(234, 85%, 45%, 0.05);

  --clr-gradient-bg1: hsl(252, 100%, 67%);
  --clr-gradient-bg2: hsl(241, 81%, 54%);
  --clr-gradient-c1: hsla(256, 72%, 46%, 1);
  --clr-gradient-c2: hsla(241, 72%, 46%, 0);

  --clr-neutral-1: hsl(0, 0%, 100%);
  --clr-neutral-2: hsl(221, 100%, 96%);
  --clr-neutral-3: hsl(241, 100%, 89%);
  --clr-neutral-4: hsl(224, 30%, 27%);

  --round-corner-medium: 1.5em;
  --round-corner-small: 0.5em;

  --summary-icon: 2.5em;

  --val: 11em;

  border: 0px solid magenta;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  border: 0px solid magenta;
}

main {
  display: flex;
  justify-content: center;
  background-color: var(--clr-neutral-1);
  border-radius: var(--round-corner-medium);
  filter: drop-shadow(-0.25rem 0.25rem 0.75rem var(--clr-neutral-3));
  border: 0px dashed orange;
  max-width: 38em;
  margin: 5%;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.8em;
}

button {
  background-color: var(--clr-neutral-4);
  color: var(--clr-neutral-1);
  font-size: 1em;
  padding: 0.9em 0;
  border-radius: var(--round-corner-medium);
  width: 100%;
  margin-top: 2em;
}

button:hover {
  background: linear-gradient(var(--clr-gradient-bg1), var(--clr-gradient-bg2));
  cursor: pointer;
}

/*
------------------- 
 Styles for Result
-------------------
*/

.result--wrapper {
  background: linear-gradient(var(--clr-gradient-bg1), var(--clr-gradient-bg2));
  border-radius: var(--round-corner-medium);
  text-align: center;
  padding: 5%;
  min-width: 50%;
  border: 0px solid red;
}

.result--title {
  color: var(--clr-neutral-3);
  font-weight: 700;
  margin-bottom: 1.6em;
}

.result--points {
  width: var(--val);
  height: var(--val);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--clr-gradient-c1), var(--clr-gradient-c2));
  margin: 0 auto;
}

.result--score {
  display: block;
  font-size: 60px;
  font-weight: 800;
  color: white;
}

.result--total {
  color: hsla(255, 100%, 100%, 0.4);
}

.result--head {
  color: var(--clr-neutral-1);
  margin: 0.6em 0 0.4em 0;
}

.result--body {
  color: var(--clr-neutral-3);
  padding: 0 0.5em;
}

/* 
------------------- 
 Styles for Summary
-------------------
*/

.summary--wrapper {
  padding: 5%;
  min-width: 50%;
  border: 0px solid green;
}

.summary--title {
  color: var(--clr-neutral-4);
  margin-bottom: 1.2em;
}

.summary--data {
  padding: 0.9em 0;
  vertical-align: middle;
  border-radius: var(--round-corner-small);
  margin-top: 1em;
}

.summary--reaction-bg-color {
  background-color: var(--clr-reaction-bg);
}

.summary--memory-bg-color {
  background-color: var(--clr-memory-bg);
}

.summary--verbal-bg-color {
  background-color: var(--clr-verbal-bg);
}

.summary--visual-bg-color {
  background-color: var(--clr-visual-bg);
}

.summary--reaction-head {
  color: var(--clr-reaction);
  background-image: url("/assets/images/icon-reaction.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: var(--summary-icon);
}

.summary--memory-head {
  color: var(--clr-memory);
  background-image: url("/assets/images/icon-memory.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: var(--summary-icon);
}

.summary--verbal-head {
  color: var(--clr-verbal);
  background-image: url("/assets/images/icon-verbal.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: var(--summary-icon);
}

.summary--visual-head {
  color: var(--clr-visual);
  background-image: url("/assets/images/icon-visual.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: var(--summary-icon);
}

.summary--points {
  float: right;
  margin-right: 15px;
}

.summary--score {
  font-weight: 800;
  color: hsl(224, 30%, 27%);
}

.summary--total {
  font-weight: 700;
  color: hsl(224, 30%, 27%, 0.5);
}

/*
------------------- 
 Styles for Frontend Mentor
-------------------
*/

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 3%;
  color: var(--clr-neutral-4);
}

.attribution a {
  color: var(--clr-gradient-c1);
}

/*
------------------- 
 Styles for Mobile
-------------------
*/

@media only screen and (max-width: 576px) {
  html,
  body {
    display: block;
    height: auto;
    width: auto;
  }

  main {
    display: block;
    margin: 0;
    border-radius: 0;
    filter: drop-shadow(0 0 0 var(--clr-neutral-3));
  }

  .result--wrapper {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .result--body {
    margin-bottom: 1em;
  }
}
